@font-face {
  font-family: zeniq;
  src: url("./assets/fonts/Zeniq.ttf");
  font-display: swap;
}
@font-face {
  font-family: heavitas;
  src: url("./assets/fonts/Heavitas.ttf");
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }
}
